<div class="row">
    <div class="col-sm-4">
        <!-- Por cada servidor crearemos una tarjeta con el nombre y
        el estado del servidor-->
        <div class="list-group">
            <a *ngFor="let server of servers" class="list-group-item list-group-item-action"
            [routerLink]="['/servers', server.id]"><!--[routerLink]="['/servers', server.id]" href="#"-->
            {{ server.name }}
            </a>
        </div>
    </div>
    <div class="col-sm-4">
      <router-outlet></router-outlet>
    </div>
  </div>
